@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* base styles */
body {
  font-family: Lato, sans-serif;
  margin: 0;
  font-size: 1.2em;
  text-align: center;
  background: #eeeffe;
  color: #fff;
}
